body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --color-blue: #174671;
  --color-coral: #ff5533;
  --color-grey: #e6e6e6;
  --color-white: #ffffff;

  --container-width: 1435px;
  --grid-column-width: 101px;
  --grid-gap: 20px;
}

* {
  all: unset;
  display: revert;
}

body {
  font-family: "Formular";
}
